body {
  margin: auto;
  position: relative;
  width: 375px;
  background-color: #f7f7f9;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  background-color: #fff;
}

a.logo {
  
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-self: center;
  color: #6070ff;
  text-decoration: none;
}

a.union {
  padding-top: 5px;
}

.tool-bar a:hover {
  background-color: #ddd;
  color: black;
}

.header-shapes-mobile {
  position: absolute;
  width: 462px;
  height: 587.15px;
  left: -34px;
  top: 104px;
}

body .header-backgroung-mobile {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
}

.headline {
  background-image: url("images/header-shapes\ mobile.png");
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 375px;
  height: 604px;
  background-repeat: no-repeat;
}

.primary1 {
  width: 327px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
}

 p {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 24px;
  margin-right: 24px;
  
}

.social-media {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #7f8cff;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  padding-left: 0;
}

.social-media-icons li {
  margin-right: 19px;
}
